
// 元件最外圍
.作品集{
    width: 100%;
    min-height: 50dvh;
    background-color: #eff6ff;
    // 標題區塊
    .portfolio-title-box{
        padding: 0 12px;
        border-left: 5px solid rgb(112, 150, 205);
        // 標題設定
        .title{
            font-size: 32px;
            color: rgb(112, 150, 205);
            border-bottom: 3px solid rgb(112, 150, 205);
            font-weight: 500;
        }
        // 標題設定
    }
    // 標題區塊

    .portfolio-cards-mb-box{
        padding: 24px 20px;
        border-radius: 12px;
        background-color: #bfdbfe;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 24px;

        .swiper{
            height: 100%;
            width: 100%;
            border-radius: 12px;
            .portfolio-card{
            

                .card-img-box{
                    width: 100%;
                    height: 100%;
                    .img{
                        width: 100%;
                        aspect-ratio: 600 / 375;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }

                .card-text-box{
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    gap: 12px;
                    height: 100%;
                    @media (max-width: 1200px) { 
                        padding-top: 0px;
                    }
                    @media (max-width: 992px) { 
                        padding-top: 24px;
                    }
                    .tag-box{
                        .tag{
                            font-size: 14px;
                            color: rgb(97, 125, 198);
                        }
                    }

                    .title-box{
                        .title{
                            font-size: 20px;
                        }
                    }

                    .link-box{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 24px;
                        .link-item{
                            border: none;
                            min-width: 125px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            padding: 12px 20px;
                            background-color:rgb(97, 125, 198);
                            border-radius: 12px;
                            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
                            text-decoration: none;
                            cursor: pointer;
                            .link-icon-img{
                                width: 24px;
                                height: 24px;
                                object-fit: cover;
                            }
                            .link-icon{
                                font-size: 24px;
                                color: #ffffff;
                            }
                            .text{
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }

        .portfolio-mb-btn-box{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            .portfolio-mb-btn{
                width: 100%;
                color: rgb(112, 150, 205);
                background-color: white;
                font-size: 20px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                padding: 8px 16px;
                &.active {
                    color: white;
                    background-color: rgb(112, 150, 205);
                }

                &:hover {
                    color: white;
                    background-color: rgb(112, 150, 205);
                }
            }
        }
    }

    .portfolio-cards-box{

        .portfolio-card{

            .card-img-box{
                width: 100%;
                height: 100%;
                .img{
                    width: 100%;
                    aspect-ratio: 600 / 375;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }

            .card-text-box{
                
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 12px;
                height: 100%;
                @media (max-width: 1200px) { 
                    padding-top: 0px;
                }
                @media (max-width: 992px) { 
                    padding-top: 24px;
                }
                .tag-box{
                    .tag{
                        font-size: 14px;
                        color: rgb(97, 125, 198);
                    }
                }

                .title-box{
                    .title{
                        font-size: 20px;
                    }
                }

                .link-box{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 24px;
                    .link-item{
                        border: none;
                        min-width: 125px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        padding: 12px 20px;
                        background-color:rgb(97, 125, 198);
                        border-radius: 12px;
                        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
                        text-decoration: none;
                        cursor: pointer;
                        .link-icon-img{
                            width: 24px;
                            height: 24px;
                            object-fit: cover;
                        }
                        .link-icon{
                            font-size: 24px;
                            color: #ffffff;
                        }
                        .text{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    .portfolio-cards-mb-box{
        position: relative;
        .portfolio-card{
           
            .img{
                aspect-ratio: 700/435;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 56px;
            height: 56px;
            background-color: #ffffff;
            color:rgb(112, 150, 205);
            border-radius: 12px;
            z-index: 10;
            &:hover{
                background-color: rgb(112, 150, 205);
                color:#ffffff;
            }
            @media (max-width: 768px) {
                width: 28px;
                height: 28px;
            }
        }

        .swiper-button-prev {
            left: 20px;
            @media (max-width: 768px) {
                left: 10px;
            }
        }

        .swiper-button-next {
            right: 20px;
            @media (max-width: 768px) {
                right: 10px;
            }
        }

        
        
    }
}
// 元件最外圍

