
.main-intro{

    .main-intro-bg{
        padding: 48px 0;
        width: 100%;
        margin: 0 auto;
        background-color: #eff6ff;
        position: relative;
        .bg-color{
            width: 71%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #bfdbfe;
            z-index: 1;
            border-radius: 100px 0 0 100px;
            @media (max-width: 992px) {
                width: 100%;
                height: 23%;
                border-radius: 0 0 0 100px;
            }
            @media (max-width: 768px) {
                height: 20%;
            }
            @media (max-width: 417px) { 
                height: 16%;
            }
        }
        .main-intro-bg1{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
            .img-box{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .box1
                {
                    width: 65%;
                    height: auto;
                    background-color: #ffffff;
                    border-radius: 50%;
                    border: 5px solid rgb(112, 150, 205);
                    aspect-ratio: 1 / 1;
                    @media (max-width: 992px) {
                        width: 30%;
                    }
                    .box2{
                        max-height: calc(100% - 20px);
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        border-radius: 50%;
                        
                    }
                }

            }
        }

        .main-intro-bg2{
            height: auto;
            position: relative;
            z-index: 5;
            .title-box{
                .title{
                    // font-size: 28px;
                    color: rgb(54, 122, 218);
                    @media (max-width: 417px) { 
                        display: none;
                    }
                    &.sp-set{
                        display: none;
                        @media (max-width: 417px) { 
                            display: block;
                        }
                    }
                }
            }
            .userData-box{

                
                .phone-box{
                    
                }

                .mail-box{
                    
                }
            }

            .nav-item-box{
                width: 100%;
                gap:12px;
                flex-direction: column;
                // background-color: rgb(221, 233, 255);
                // padding: 12px 20px;
                // border-radius: 12px;
                // .resume-link{
                //     background-color:rgb(112, 150, 205);
                //     border-radius: 100px;
                //     color: #ffffff;
                // }
                .my-tab-btn,.resume-link {
                    width: 100%;
                    color: rgb(112, 150, 205);
                    background-color: white;
                    font-size: 20px;
                    border-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;

                    &.active {
                        color: white;
                        background-color: rgb(112, 150, 205);
                    }

                    &:hover {
                        color: white;
                        background-color: rgb(112, 150, 205);
                    }
                }
            }
            
        }
    }
}

.main-content{
    width: 100%;

    .main-content-box{
        height: auto;

        
    }
}







